body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 4em 0;
    text-align: center;
    position: relative;
}
.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-selector button {
    background: none;
    border: 1px solid #00FF6C;
    color: #00FF6C;
    padding: 0.5em 1em;
    margin-left: 5px;
    cursor: pointer;
}

.language-selector button:hover {
    background: #00FF6C;
    color: white;
}

header .highlight {
    color: #00FF6C;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn {
    display: inline-block;
    color: white;
    background: #00FF6C;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 4em 0;
}

#about .content {
    display: flex;
    align-items: center;

}
#about, #links, #education {
    margin-bottom: 0; /* Убираем нижние отступы */
    padding-bottom: 0; /* Убираем дополнительные внутренние отступы */
}
#education {
    margin-top: -30px;
}
/* Настройка отступов для контейнеров внутри секций */
.container {
    margin-bottom: 0; /* Убираем нижние отступы у контейнера */
}

/* Дополнительно для уменьшения верхнего отступа у секции Links */
#links {
    margin-top: -50px; /* Сдвигаем секцию вверх для уменьшения расстояния */
}

#about img {
    border-radius: 50%;
    margin-right: 3em;
    max-width: 300px;
}

#education img {
    border-radius: 50%;
    margin-right: 3em;
    max-width: 400px;
    min-width: 300px;
}
#education .content {
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background: white;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2em);
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

form input, form textarea {
    width: 99%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #00FF6C;
    color: white;
    padding: 1em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включить прокрутку, если необходимо */
    background-color: rgb(0,0,0); /* Черный цвет с непрозрачностью */
    background-color: rgba(0,0,0,0.8); /* Черный цвет с непрозрачностью */
}

/* Модальное содержимое/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и выровнено по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина может быть изменена по желанию */
    position: relative; /* Для позиционирования кнопки закрытия */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}


#skills {
    padding: 4em 0;
    background-color: #f9f9f9;
}

.skills-carousel {
    display: flex;
    overflow: hidden;
    padding: 1em 0;
    justify-content: flex-start;
        transform: translateX(100%); /* Start from right */
        transition: transform 0.5s ease-in-out; /* Smooth transition */
}



.skill-item {
    flex: 0 0 auto;
    background: #333;
    color: white;
    padding: 1em;
    margin: 0 1em;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}

.skill-item img {
    max-width: 200px;
    margin-bottom: 0.5em;
    border-radius: 5px;
}
.skill-item p {
    text-align: center;
    margin: 0;
}

.skill-item:hover {
    transform: scale(1.15);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100px * 7)); }
}

.skills-carousel {
    display: flex;
    justify-content: space-around;
    animation: scroll 35s linear infinite;
}

.skills-carousel:hover {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    #about .content, #education .content {
        flex-direction: column;

    }

#about img {
    border-radius: 50%;
    margin-right: 3em;
    max-width: 230px;
}

#education img {
    border-radius: 50%;
    margin-right: 3em;
    max-width: 250px;

}
    #about .text, #education .text {
        max-width: 100%;
    }
#skills {
    padding: 4em 0;
    background-color: #f9f9f9;
}

.skills-carousel {
    display: flex;
    overflow: hidden;
    padding: 1em 0;
    position: relative;
}

.skill-item {
    flex: 0 0 auto;
    background: #333;
    color: white;
    padding: 1em;
    margin: 0 1em;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}

.skill-item img {
    max-width: 200px;
    margin-bottom: 0.5em;
    border-radius: 5px;
}
.skill-item p {
    text-align: center;
    margin: 0;
}

.skill-item:hover {
    transform: scale(1.15);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100px * 7)); }
}

.skills-carousel {
    display: flex;
    justify-content: space-around;
    animation: scroll 35s linear infinite;
}

.skills-carousel:hover {
    animation-play-state: paused;
}
}


/* Медиа-запрос для экранов шириной менее 768px */
@media (max-width: 768px) {
    /* Выровнять секции по центру */
    #about, #education, #links {
        padding: 2em 0;
        text-align: center; /* Центрирование текста */
    }
    #links {
        right: -95%; /* Скроем почти всю панель, оставив видимым 5% */
        width: 95%;  /* Ширина панели на мобильных устройствах */
    }
    #links.open {
        right: 0;
    }
    #about .content, #education .content {
        flex-direction: column; /* Выравниваем контент по вертикали */
    }


    #links ul {
        flex-direction: column; /* На мобильных ссылки будут вертикальными */
        padding: 0;
        margin: 0;
    }

    #links li {
        margin-bottom: 1em;
    }
}



#links {
    background-color: #333;
    color: white;
    width: 35%;
    padding: 2em 0;
    position: fixed;
    right: -34%; /* Панель почти скрыта, виден 1 см */
    top: 20%;
    transition: right 0.5s ease;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 10;
    border-top: 2px solid #00FF6C;     /* Верхняя граница */
    border-left: 2px solid #00FF6C;    /* Левая граница */
    border-bottom: 2px solid #00FF6C;  /* Нижняя граница */
    border-right: 2px solid transparent; /* Убираем правую границу */
}

#links.open {
    right: 0; /* Открываем панель */
}

.fire-arrow-container {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    cursor: pointer;
    z-index: 999;
}

.fire-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(10, 248, 20) 20%, rgb(6, 173, 13) 80%);
    box-shadow: 0 0 15px rgb(11, 82, 14), 0 0 30px rgb(4, 154, 10);
    animation: fire-move 1s infinite alternate;
    margin: 5px 0;
}

.fire-arrow:nth-child(2) {
    animation-delay: 0.3s;
}

.fire-arrow:nth-child(3) {
    animation-delay: 0.6s;
}

/* Анимация для стрелок-пламени */
@keyframes fire-move {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10px); /* Движение стрелки влево */
        opacity: 0.7;
    }
}

/* Стили для списка полезных ссылок */
#links .links-content {
    display: flex;
    justify-content: center;
}

#links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 500px;
}

#links li {
    margin-bottom: 1em;
}

#links a {
    color: #00FF6C;
    text-decoration: none;
    font-size: 1.2em;
}

#links a:hover {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    color: white;
    background: #00FF6C;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 30px 0;
}