body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 4em 0;
    text-align: center;
    position: relative;
}
.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Стиль для переключателя языков */
.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000; /* Убедитесь, что он выше меню */
}

.language-selector button {
    background: none;
    border: 1px solid #00FF6C;
    color: #00FF6C;
    padding: 0.5em 1em;
    margin-left: 5px;
    cursor: pointer;
}

.language-selector button:hover {
    background: #00FF6C;
    color: white;
}

/* Стили для навигации */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000; /* Меню должно быть ниже переключателя */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    transition: background-color 0.3s ease;
}

/* Стили для списка навигации */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Добавляем обертку элементов */
    gap: 0.5em; /* Добавляем небольшие промежутки между элементами */
}

/* Стили для элементов списка навигации */
nav ul li {
    margin: 0 2em;
    position: relative;
    border-right: 2px solid #ccc;
    border-right: 2px solid #ccc; /* Добавляем бордер справа */
    padding: 0 0.5em; /* Меньше отступов */
}

/* Стили для ссылок в меню */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Эффект при наведении на ссылки */
nav ul li a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

/* Плавный скроллинг */
html {
    scroll-behavior: smooth;
}

/* Изменение фона меню при прокрутке */
nav.scrolled {
    background-color: #222;
}

/* Стили для активных ссылок в меню */
nav ul li a.active {
    color: #ff6347;
    transform: scale(1.2);
}



/* Стили для списка */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Добавляем обертку элементов */
    gap: 0.5em; /* Добавляем небольшие промежутки между элементами */
}


/* Убираем бордер у последнего элемента */
nav ul li:last-child {
    border-right: none;
}



/* Эффект при наведении на ссылку */
nav ul li a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

/* Плавный скроллинг при переходах */
html {
    scroll-behavior: smooth;
}

/* Изменение фона при прокрутке */
nav.scrolled {
    background-color: #222;
}

/* Анимация для активации ссылок при прокрутке */
nav ul li a.active {
    color: #ff6347;
    transform: scale(1.2);
}

header .highlight {
    color: #00FF6C;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn {
    display: inline-block;
    color: white;
    background: #00FF6C;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 4em 0;
}

#about .content {
    display: flex;
    align-items: center;
}

#education {
    position: relative;
}
#education::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #9dd6fc, #8051f8); /* Пример градиентного фона */
    clip-path: polygon(5% 0%, 100% 70%, 100% 100%, 0% 100%); /* Необычная форма для фона */
    z-index: -1;
    opacity: 0.8; /* Легкая прозрачность для фона */
}
#about, #links, #education {
    margin-bottom: 0; /* Убираем нижние отступы */
    padding-bottom: 0; /* Убираем дополнительные внутренние отступы */
}
#education {
    margin-top: -30px;
    z-index: 1;
}
/* Настройка отступов для контейнеров внутри секций */
.container {
    margin-bottom: 0; /* Убираем нижние отступы у контейнера */
}
.section-title {
    display: inline-block; /* Для подчеркивания только текста */
    border-bottom: 5px solid #00FF6C; /* Толщина и цвет подчеркивания */
    padding-bottom: 2px; /* Отступ между текстом и линией */
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #fd84cd, #fadd8f); /* Пример градиентного фона */
    clip-path: polygon(0 0, 100% 30%, 90% 100%, 0% 90%); /* Форма фона */
    z-index: -1;
}

#links {
    margin-top: -50px; /* Сдвигаем секцию вверх для уменьшения расстояния */
}
.highlight {
        font-size: 1.3em;
        line-height: 1.6;
        margin-bottom: 15px;
        color: #444;
    }

.highlight-first {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 15px;
        color: #ffffff;
    }
#about img {
    margin-right: 3em;
    max-width: 500px;
    border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease;
}

#education img {
    margin-right: 3em;
    max-width: 500px;
    border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease;
}
#education .content {
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background: white;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2em);
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

form input, form textarea {
    width: 99%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #00FF6C;
    color: white;
    padding: 1em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включить прокрутку, если необходимо */
    background-color: rgb(0,0,0); /* Черный цвет с непрозрачностью */
    background-color: rgba(0,0,0,0.8); /* Черный цвет с непрозрачностью */
}

/* Модальное содержимое/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и выровнено по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина может быть изменена по желанию */
    position: relative; /* Для позиционирования кнопки закрытия */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}

#skills {
    padding: 4em 0;
    background-color: #f9f9f9;
    overflow: hidden; /* Чтобы не было видно карточек за пределами секции */
}

.skills-carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center; /* Центрирование карточек */
    opacity: 0; /* Скрыть до анимации */
    transition: opacity 0.5s ease-in-out;
}

.skill-item {
    flex: 0 0 auto;
    background: #333;
    color: white;
    padding: 1em;
    margin: 0 1em;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    transform: scale(0); /* Начальное уменьшенное состояние */
    opacity: 0; /* Прозрачность до анимации */
}

.skill-item img {
    max-width: 200px;
    margin-bottom: 0.5em;
    border-radius: 5px;
}
.skill-item p {
    text-align: center;
    margin: 0;
}

.skill-item:hover {
    transform: scale(1.15);
}

/* Активация карточек */
.skill-item.active {
    transform: scale(1); /* Возвращаем нормальный размер */
    opacity: 1; /* Делаем видимыми */
}

/* Позиции для карточек */
.skill-item.from-left {
    transform: translateX(-200%);
}
.skill-item.from-right {
    transform: translateX(200%);
}
.skill-item.from-top {
    transform: translateY(-200%);
}
.skill-item.from-bottom {
    transform: translateY(200%);
}

/* При активации они возвращаются в нормальное состояние */
.skill-item.active.from-left,
.skill-item.active.from-right,
.skill-item.active.from-top,
.skill-item.active.from-bottom {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
}


@media (max-width: 768px) {
    #about .content, #education .content {
        flex-direction: column;

    }

    #about .text, #education .text {
        max-width: 100%;
    }

    header {
    background-color: #333;
    color: white;
    padding: 6em 0;
    text-align: center;
    position: relative;
}
.language-selector {
    position: absolute;
    top: 75px;
    right: 20px;
    z-index: 2000; /* Убедитесь, что он выше меню */
}
}

/* Медиа-запрос для экранов шириной менее 768px */
@media (max-width: 768px) {
    /* Выровнять секции по центру */
    #about, #education, #links {
        padding: 2em 0;
        text-align: left; /* Центрирование текста */
    }
    #links {
        right: -95%; /* Скроем почти всю панель, оставив видимым 5% */
        width: 95%;  /* Ширина панели на мобильных устройствах */
    }
    #links.open {
        right: 0;
    }
    #about .content, #education .content {
        flex-direction: column; /* Выравниваем контент по вертикали */
    }


    #links ul {
        flex-direction: column; /* На мобильных ссылки будут вертикальными */
        padding: 0;
        margin: 0;
    }

    #links li {
        margin-bottom: 1em;
    }
#about img {
    margin-right: 3em;
    max-width: 80%;
    border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease;
}

#education img {
    margin-right: 3em;
    max-width: 90%;
    border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease;
}
}
@media screen and (max-width: 768px) {
    .skills-carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .skill-item {
        margin: 0;
        max-width: 70%; /* Уменьшаем максимальную ширину карточек */
        transform: scale(0.9); /* Уменьшаем размер карточек */
    }

    .skill-item img {
        max-width: 100%; /* Уменьшаем размер изображений */
    }
    nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    padding: 0.5em 1em; /* Уменьшаем отступы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Стили для списка */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Добавляем обертку элементов */
    gap: 0.5em; /* Добавляем небольшие промежутки между элементами */
}

/* Стили для каждого элемента списка */
nav ul li {
    margin: 0; /* Убираем марджины */
    position: relative;
    border-right: 1px solid #ccc; /* Добавляем бордер справа */
    padding: 0 0.5em; /* Меньше отступов */
}

/* Убираем бордер у последнего элемента */
nav ul li:last-child {
    border-right: none;
}

/* Стили для ссылок */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.85em; /* Уменьшаем размер шрифта */
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.5em; /* Уменьшаем отступы внутри ссылок */
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Эффект при наведении на ссылку */
nav ul li a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

/* Плавный скроллинг при переходах */
html {
    scroll-behavior: smooth;
}

/* Изменение фона при прокрутке */
nav.scrolled {
    background-color: #222;
}

/* Анимация для активации ссылок при прокрутке */
nav ul li a.active {
    color: #ff6347;
    transform: scale(1.2);
}

}





#links {
    background-color: #333;
    color: white;
    width: 35%;
    padding: 2em 0;
    position: fixed;
    right: -34%; /* Панель почти скрыта, виден 1 см */
    top: 20%;
    transition: right 0.5s ease;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 10;
    border-top: 2px solid #00FF6C;     /* Верхняя граница */
    border-left: 2px solid #00FF6C;    /* Левая граница */
    border-bottom: 2px solid #00FF6C;  /* Нижняя граница */
    border-right: 2px solid transparent; /* Убираем правую границу */
}

#links.open {
    right: 0; /* Открываем панель */
}

.fire-arrow-container {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    cursor: pointer;
    z-index: 999;
}

.fire-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(10, 248, 20) 20%, rgb(6, 173, 13) 80%);
    box-shadow: 0 0 15px rgb(11, 82, 14), 0 0 30px rgb(4, 154, 10);
    animation: fire-move 1s infinite alternate;
    margin: 5px 0;
}

.fire-arrow:nth-child(2) {
    animation-delay: 0.3s;
}

.fire-arrow:nth-child(3) {
    animation-delay: 0.6s;
}

/* Анимация для стрелок-пламени */
@keyframes fire-move {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10px); /* Движение стрелки влево */
        opacity: 0.7;
    }
}

/* Стили для списка полезных ссылок */
#links .links-content {
    display: flex;
    justify-content: center;
}

#links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 500px;
}

#links li {
    margin-bottom: 1em;
}

#links a {
    color: #00FF6C;
    text-decoration: none;
    font-size: 1.2em;
}

#links a:hover {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    color: white;
    background: #00FF6C;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 30px 0;
}
/* Общие стили для навигации */

@media (max-width: 768px) {
    /* Снижаем высоту фона для мобильной версии */
    #education::after {
        /* Уменьшаем угол и форму градиента для уменьшения высоты */
        clip-path: polygon(5% 0%, 100% 40%, 100% 100%, 0% 100%); /* Пример с меньшей высотой */
    }
}
@media (max-width: 768px) {
    /* Увеличиваем угол и форму градиента для мобильной версии */
    #about::after {
        clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%); /* Увеличиваем высоту градиента для мобильных устройств */
    }
}
